from aiogram import Bot, Dispatcher, executor, types

bot = Bot(token="{{ project.token }}")
dp = Dispatcher(bot)

faq = {{ project.content.faq }}

@dp.message_handler(commands=['start'])
async def start(message: types.Message):
    await message.answer("Напишите ключевое слово, и я постараюсь найти статью")

@dp.message_handler()
async def search(message: types.Message):
    keyword = message.text.lower()
    found = False
    for item in faq:
        if keyword in item["question"].lower():
            await message.answer(f"{item['question']}\n\n{item['answer']}")
            found = True
            break
    if not found:
        await message.answer("Извините, ничего не найдено")

if __name__ == '__main__':
    executor.start_polling(dp)
